@{
    ViewBag.Title = "Requirements";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Requirements</h2>
        <ol type="1">
            <li>Connect through Entity Framework 6.0</li> 
            <li>Build basic CRUD(Create, Read, Update, Delete) using Scaffolding (Add-Migrations,Update Migrations)</li> 
            <li>Build Search View to search by Description, also include paging.</li> 
        </ol>

        <h2>Completed Work</h2>
        <ol type="1">
            <li> Nuget Package was installed for Entity Framework, uses DBSet in DataContext Folder
            <li> @Html.ActionLink("View CRUD Methods created from Scaffolding", "Index", "SalesLineItems") </li>
            <li> @Html.ActionLink("View Search View, including paging", "Index", "SalesLineItems")</li>
       </ol>
</div>
</div>