@{
    ViewBag.Title = "Requirements";
}
<div class="row">
    <div class="col-lg-12">
        <h2>Requirements</h2>
        <ol type="1">
            <li>Connect through Entity Framework 6.0</li> 
            <li>Using Scaffolding to create routine database methods (Edit, Delete, Detail Views) to Index View</li> 
            <li>Add Search by Order Id on same on Index view</li> 
        </ol>

        <h2>Completed Work</h2>
        <p>Note: Nuget Package was installed for Entity Framework, uses DBSet in DataContext Folder</p> 
        <p><a href=@Url.Action("Index", "SalesLineItems") target="_blank" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-globe"></span> View Demo</a></p>
</div>
</div>